/*Responsive PC */
@media (min-width: 1024px) {}

/*Responsive Tablet & Mobile*/
@media (max-width:1023) {}


/*Responsive Tablet */
@media (min-width: 740px) and (max-width: 1023px) {}

/*Responsive Mobile */
@media (max-width: 740px) {
    #main-container{
        width: 98%;
    }

    #cv {
        padding: 0;
        width: 96%;
    }
    #profile-avatar img {
        border-radius: 0;
    }

    #muctieu-main {
        font-size: 12px;
        margin: 0;
    }

    #header {
        display: block;
    }

    #profile-avatar {
        margin: 0;
    }

    #profile-main {
        padding: 0;
    }

    #profile-main h2 {
        font-size: 32px;
    }

    

    #hocvan-main {
        margin: 0;
    }

    #school-name {
        padding-left: 4px;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        width: 45%;
    }

    #school-name h4 {
        font-size: 12px;
        font-weight: 900;
    }

    #school-name h5 {
        font-size: 12px;
        font-weight: 600;
    }

    #school-name p {
        font-size: 12px;
    }

    #hocvan-detail {
        width: 55%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    #hocvan-detail div {
        font-size: 9px;
        padding: 0;
    }

    #kynang-main {
        margin: 0;
    }

    #kynang-header {
        justify-content: flex-start;
        width: 48%;
    }

    #kynang-detail {
        justify-content: flex-start;
    }

    .kynang-subheader {
        padding: 0;
        margin-top: 16px;
        margin-bottom: 12px;

    }

    .kynang-subheader h3 {
        margin-left: 8px;
        font-size: 12px;
    }

    .kynang-subdetail {
        padding: 0;
        margin-top: 16px;
        margin-bottom: 12px;
        font-size: 11px;
        margin-left: 8px;
    }

    #chungchi-main li {
        font-size: 12px;
    }

    #duan-main-header h3 {
        font-size: 17px;
    }

    #duan-main-header p {
        font-size: 12px;
    }

    #duan-table {
        padding: 0;
    }

    .table-row-title {
        width: 40%;
        padding: 5px;
        font-size: 12px;
    }

    .table-row-detail {
        width: 60%;
        padding: 5px;
        font-size: 11px;
    }

    .header h3{
        padding-left: 10px;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        font-size: 16px;
    }
}